@using TECH.Areas.Admin.Models
@model List<ProductForCategoryModelView>

    <style>
        .t-prod-H {

        background: #e6e6e6;
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;
    height: 41px;
    margin-bottom: 0px;

}
.t-prod-H .t_span1 span.tab_news5 {
    background: #89a600;
}
.info-prod-H h3 {
    color: #333;
    font-weight: 400;
    padding: 8px;
    font-size: 13px;
    margin: 0px;
}
.info-prod-H h4 {
    font-size: 14px;
    font-weight: 700;
    color: #f8456a;
    margin: 0px;
    font-size: 13px;
}
.t-prod-H .t_span1 span {
    text-transform: uppercase;
    color: #fff;
    float: left;
    font-size: 14px;
    font-weight: 400;
    padding: 0 20px;
        height: 100%;
            display: inline-flex;
    align-items: center;
}
.box-content-componse .row{
    margin:0px;
}
.box-products{
        margin-top: 30px;
}

    .titlehome {
        float: left;
        width: 100%;
        background: #fff;
        border: 2px solid #ccc;
        height: 53px;
    }

        .titlehome i {
            line-height: 50px;
            color: #fff;
            height: 50px;
            padding-right: 50px;
            background-size: 50px 50px;
            background-position: 25px 0;
            background-repeat: no-repeat;
            background-color: #a6a6a6;
            margin-bottom: -4px;
            border-radius: 0 50px 50px 0;
            width: 120px;
            float: left;
            display:block;
        }

        .titlehome span {
            width: 48px;
            height: 48px;
            margin: 1px 0 -4px -49px;
            /*background: url(/image-common/favicon2.png) center no-repeat #fff;*/
            font-weight: 700;
            /*color: #010101;*/
            float: left;
            display: flex;
            /*border-radius: 50px;*/
            border-radius: 50%;
            background: #fff;
            color: #f7941d;
            justify-content: center;
            align-items: center;
            font-size: 19px !important;
        }

        .titlehome i, .titlehome span {
            font-size: 24px;
            text-align: center;
        }

        .titlehome h2 {
            /*line-height: 41px;*/
            padding-left: 20px;
            /*padding-top: 5px;*/
            font-size: 20px;
            text-decoration: none;
            color: #010101;
            margin:0px;
            float:left;
            display: flex;
            height: 100%;
            align-items: center;
        }

            .titlehome h2 a {
                color: #e77e24;
            }

        .titlehome a.viewall {
            color: #e77e24;
            margin-right: 10px;
            font-weight: bold !important;
            display: flex;
            height: 100%;
            align-items: center;
            padding-top: 0px;
            margin-top: 0px !important;
        }

        .titlehome .menuchild a, .titlehome a.viewall {
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
        }

        .titlehome .menuchild, .titlehome a.viewall {
            float: right;
            margin-top: 13px;
        }
    </style>
@if (Model != null && Model.Count > 0)
{
    <section class="box-section">
        <div class="content">
            <div class="container">
                <div class="shoe-product">
                    @foreach (var item in Model)
                    {
                        if (item.productModelViews != null && item.productModelViews.Count > 0)
                        {
                            <div class="titlehome">
                                <i></i><span class="fa fa-laptop"></span>
                                <h2>
                                    <a href="jordan-1-high">@item.CategoryModelView.name</a>
                                </h2>
                                <a href="/san-pham/@item.CategoryModelView.id" class="viewall">Xem tất cả</a>
                            </div>
                            foreach (var itemProduct in item.productModelViews)
                            {
                                <div class="product-item">
                                    <a href="/chi-tiet-san-pham/@itemProduct.id">
                                    <div class="images">
                                            @if (!string.IsNullOrEmpty(itemProduct.statusstr))
                                            {
                                                <span class="discount">-17%</span>

                                                <div class="ribbon"><span>@itemProduct.statusstr</span></div>
                                            }
                                      
                                            @if (!string.IsNullOrEmpty(itemProduct.images))
                                        {
                                                <img width="234" height="234" class=" ls-is-cached lazyloaded" src="/product-image/@itemProduct.images">
                                        }
                                    </div>
                                    <div class="info">
                                        <h3>
                                                @itemProduct.name
                                        </h3>
                                        <p>
                                            @(
                                                    !string.IsNullOrEmpty(itemProduct.price_sell_str) ? itemProduct.price_sell_str : ""
                                                ) đ<span>
                                                @(
                                                        !string.IsNullOrEmpty(itemProduct.price_reduced_str) ? itemProduct.price_reduced_str : ""
                                                    )
                                            </span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            }
                            
                        }
                    }
                </div>
            </div>
        </div>
    </section>
}