@using TECH.Areas.Admin.Models
@model List<ProductModelView>

    <style>
    .shoe-product .product-item{
        height: 310px;
        width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin: 10px 0 15px;
    text-align: left;
    }
    .shoe-product .images{
            position: relative;
    padding-bottom: 100%;
    height: 0;
    }
    .ribbon{
            display: block;
    right: 0;
    top: 0;
    z-index: 9;
    overflow: hidden;
    width: 73px;
    height: 66px;
    text-align: center;
    position: absolute;
    }
     .ribbon span{
         height: 26px;
    overflow: hidden;
    font-size: 11px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    line-height: 26px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 103px;
    display: block;
    background: #f7941d;
    background: linear-gradient(#f7941d 0,#f7941d 100%);
    box-shadow: 0 3px 10px -5px #000;
    top: 11px;
    position: absolute;
     }
     .shoe-product img{
             position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    border: 1px solid #dadada;
     }
     .shoe-product .info{
             position: relative;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
     }
     .shoe-product .info h3{
             font-size: 14px;
    margin: 5px 0;
    overflow: hidden;
    font-weight: 400;
    /* height: 41px; */
    line-height: 22px;
     }
     .shoe-product .info p{
             font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
        color: #e77e24;
     }
     .shoe-product .info p sup{
             padding-left: 2px;
    color: #e77e24;
     }
     .shoe-product .info p span{
             color: #666;
    text-decoration: line-through;
    padding-left: 10px;
    height: auto;
    font-size: 16px;
     }
         .shoe-product  h3 a, .shoe-product li h3 a {
        display: table-cell;
        vertical-align: middle;
        text-overflow: ellipsis;
        text-decoration: none;
        color: #333;
    }
    </style>


@if (Model != null && Model.Count > 0)
{


    <section class="box-section">
        <div class="content">
            <div class="container">
              @*  <div class="hot_sp">
                    <h2 style="text-align:center;">
                        <a style="font-size: 28px;color: black;text-decoration: none" href="">Sản phẩm mới</a>
                    </h2>
                    <div class="view-all" style="text-align:center;">
                        <a style="color: black;text-decoration: none" href="">Xem thêm</a>
                    </div>
                </div>*@
                <div class="shoe-product">
                    @foreach (var item in Model){
                        @*string priceStr = "";
                        @if (item.price > 0)
                        {
                            priceStr = item.price.Value.ToString("#,###");
                        }*@
                    
                    <div class="product-item">
                            <a href="/chi-tiet-san-pham/@item.id">
                            <div class="images">
                                    @if (!string.IsNullOrEmpty(item.statusstr))
                                    {
                                                    <span class="discount">-17%</span>

                                                    <div class="ribbon"><span>@item.statusstr</span></div>
                                    }
                                
                                    @if (!string.IsNullOrEmpty(item.images))
                                    {
                                        <img width="234" height="234" class=" ls-is-cached lazyloaded" src="/product-image/@item.images">
                                    }
                               
                                @*<span class="star">
                                    <i class="iconcom-star"></i><i class="iconcom-star"></i><i class="iconcom-star"></i><i class="iconcom-star"></i><i class="iconcom-star"></i>
                                </span>*@
                            </div>
                            <div class="info">
                                <h3>
                                       @* <a href="adidas-ultra-boost-20-triple-black-nam-nu-1-1.html" title="Adidas Ultra Boost 20 Triple Black 1:1">@item.name</a>*@
                                        @item.name
                                    </h3>
                                    <p>@(!string.IsNullOrEmpty(item.price_sell_str) ? item.price_sell_str : "") đ<span> @(!string.IsNullOrEmpty(item.price_reduced_str) ? item.price_reduced_str : "")</span></p>
                            </div>
                        </a>
                    </div>
                    }
                </div>
            </div>
            <!--Product-->
        </div>
        

        @*<div class="container product" style="width: 100%;margin: auto;">
    <div class="owl-carousel owl-theme owl-product-setting">
    @foreach (var item in Model)
    {
    string priceStr = "";
    @if (item.price > 0)
    {
    priceStr = item.price.Value.ToString("#,###");
    }
    <div class="item">
    <div class="">
    <div class="product-block">
    <div class="product-img fade-box">
    <a href="#" title="Adidas Ultraboost W" class="img-resize">
    <img src="/website/images/shoes/801432_01_b16d089f8bda434bacfe4620e8480be1_grande.jpg" alt="Adidas Ultraboost W" class="lazyloaded">
    <img src="/website/images/shoes/shoes fade 4.jpg" alt="Adidas Ultraboost W" class="lazyloaded">
    </a>

    </div>
    <div class="product-detail clearfix">
    <div class="pro-text">
    <a style=" color: black;
    font-size: 14px;text-decoration: none;" href="#" title="Adidas Ultraboost W" inspiration pack>
    @item.name
    </a>
    </div>
    <div class="pro-price">
    <p class="">@priceStr ₫</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    }


    </div>
    </div>*@
    </section>

}



